// // Variables
$primary-color: #ED7D2D;

.h-48 {
  height: 18rem !important; /* Adjust as needed */
}

.p-4 {
  padding: 1rem !important;
}
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}
.cartButton {
  font-size: 13px;
}
.add-to-cart-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInUp 0.5s ease-in-out forwards;

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate(-50%, 20px);
    }

    to {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
    p {
    margin: 0;
  }
}
