@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  margin-left: 132px;
  margin-right: 132px;
}

.main-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-top: 2rem;
  color: #ED7D2D;
}
